* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20368f;
    color: white;
    padding: 20px 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left .logo {
    width: 300px;
    height: 50px;
    margin-right: 20px;
}

.header-left h1 {
    font-size: 28px;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right ul {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
}

.header-right ul li {
    margin-left: 20px;
}

.header-right ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.header-right ul li a:hover {
    background-color: white;
    color: #20368f;
    border-radius: 5px;
    border: 2px solid white;
}

.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

/* Main Content */
main {
    padding: 30px;
    min-height: 72vh;
    background-color: #f0f0f0;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center;
}

main h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color:#20368f;
    text-align: center;
}

main h4 {
    line-height: 1.8;
    font-size: 20px;
    color:#20368f;
    text-align: center;
}

main button{
    color: white;
    background-color: orange;
    padding: 5px;
    text-align: center;
}


/* Footer */
footer {
    background-color: #20368f;
    color: white;
    text-align: center;
    padding: 25px 0px;
    position: relative;
    bottom: 5px;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header-right ul {
        display: none;
    }
    
    .header-right {
        flex-direction: column;
        align-items: flex-end;
    }
    
    .profile-icon {
        margin-top: 10px;
    }
}
